@charset "ISO-8859-1"; /* --------------- Reset CSS ------------------- */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,
form,fieldset,input,textarea,p,blockquote,th,td { padding: 0; margin: 0; } 
a { text-decoration:none; color: #000; } 
table { border-spacing: 0; } 
fieldset,img { border: 0; } 
address,caption,cite,code,dfn,em,strong,th,var { font-weight: normal; font-style: normal; } 
strong { font-weight: bold; } 
ol,ul { list-style: none; margin:0; padding:0; } 
caption,th { text-align: left; } 
abbr,acronym { border: 0; } 

/* ------------------------------------------- */
@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');

* { font-family: Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, 'Helvetica Neue', 'Segoe UI', 'Apple SD Gothic Neo', 'Noto Sans KR', 'Malgun Gothic', sans-serif; }
body { color: #00203F; } 
body #fullpage { margin: 0 auto; } 
.blind { display: none; } 
.inner { width: 1200px; margin: 0 auto; } 
.section { text-align:center; } 

::selection { background-color: #2dde91; color: #fff; } 

.green { color: #2CD18A; } 
.white { color: #fff; } 

.loading { background-color: #fff; z-index: 1000; width: 100vw; height: 100vh; position: fixed; top: 0;}
.loading #loader { width: 800px; position: absolute; left: 50%; top: 50%; z-index: 1; margin: -250px 0 0 -400px; }

/* ------------------- header ----------------------- */
header { width: 1200px; margin: 0 auto; } 
#header {  width: 1200px; display: flex; justify-content: space-between; position: fixed; z-index: 100; } 
#header h1 { cursor: pointer; } 
#header h1 img { width: 70px; margin-top: 25px; } 
#header nav #menu { margin-top: 30px; } 
#header nav #menu li { display: inline; margin: 22px 15px; padding: 5px 3px; font-family: Pretendard; font-weight: bold; font-size: 16px; color: #000; cursor: pointer; } 
#header nav #menu li.active { border-bottom: 2px solid #000; } 
#header nav #menu li a { text-decoration:none; color: #000; } 
#header nav #menu li:hover { border-bottom: 2px solid #000; } 
#header nav #menu li.active a { color: #000; } 

/* ------------------- section0 ----------------------- */
#section0 { justify-content: space-evenly; background: url(../source/section0_bg.svg) center no-repeat; background-image: cover; } 
#section0 .intro { width: 350px; margin-left: 20px; text-align: left; } 
#section0 .intro #easyVegan { text-align: left; font-size: 15px; font-weight: 300; } 
#section0 .intro h2 { text-align: left; font-weight: bold; border-bottom: 1px solid #333; padding: 10px 0; color: #2CD18A; font-size: 38px; } 
#section0 .intro p { padding-top: 10px; font-size: 16px; font-weight: 400; line-height: 175%; } 
#section0 .intro p span { font-weight: bold; font-size: 18px; display: block; margin-bottom: -17px; } 

#section0 #section0_right { position: relative; width: 600px; height: 400px; } 
#section0 #section0_right #appSpalsh { position: absolute; top: -80px; left: 70px; margin-top: 50px; width: 300px; transition: all .3s; } 
#section0 #section0_right #appSpalsh:hover { transform: scale(1.05); } 
#section0 #section0_right #appTest { position: absolute; top: 60px; right: 15px; width: 280px; transition: all .3s; } 
#section0 #section0_right #appTest:hover { transform: scale(1.05); } 

#section0 #toDown { position: absolute; bottom: 40px; } 
#section0 #down { width: 35px; animation: fade-in-top 0.7s cubic-bezier(0.445, 0.050, 0.550, 0.950) 3s both; } 
#section0 #down::before { content: url(../source/down_arrow.svg); opacity: .5; } 
#section0 #down:hover::before { opacity: 1; } 

/* ------------------- section1 ----------------------- */
#section1 { flex-direction: column; } 
#section1 div { width: 940px; margin-top: 30px; } 
#section1 h2 { float: left; font-size: 23px; margin-bottom: 7px; } 
#section1 iframe { margin: 10px auto; border-radius: 10px; border: none; } 

/* ------------------- section2 ----------------------- */
#section2 { text-align: left; } 
#section2 h3 { margin-bottom: 30px; font-size: 35px; } 
#section2 #slide1 .logoInfo { width: 360px; font-weight: 400; font-size: 15px; line-height: 175%; text-align: justify; color: #404040; } 
#section2 #slide1 .logoInfo2 { margin-top: 60px; } 
#section2 #slide1 .icon { width: 530px; margin:40px 0 0 100px; } 

#section2 #slide2 .colorInfo { width: 310px; margin-top: 50px; font-weight: 400; font-size: 15px; line-height: 175%; color: #404040; } 
#section2 #slide2 #color { width: 690px; margin-top: 15px; margin-left: 70px; filter: drop-shadow(0px 3px 7px #9898988a); } 
#section2 #slide2 #keyword { margin-top: 150px; } 
#section2 #slide2 #keyword .keyword { color: #2CD18A; border: 2px solid #2CD18A; border-radius: 20px; font-size: 14px; padding: 5px 12px; margin-right: 8px; transition: all .3s; } 
#section2 #slide2 #keyword .keyword:hover { color: #fff; background-color: #2CD18A; } 

#section2 #slide3 #fontType { width: 500px; margin-bottom: 70px; } 
#section2 #slide3 #useFont { width: 300px; margin: 20px 0 0 100px; } 
#section2 #slide3 .fontInfo { color: #A1A1A1; font-size: 14px; font-weight: 300; } 

/* ------------------- section3 ----------------------- */
#section3 #testSlide { width: 770px; margin-top: 30px; }

#section3 .testInfo { text-align: right; margin: 0 0 380px 0;} 
#section3 .testInfo h2 { font-size: 28px; } 

/* ------------------- section4, 5 ----------------------- */
#section4, #section5 { background-color: #2CD18A; position: relative; align-items: flex-start; } 
#section4 #todoInfo { margin-top: 80px; } 
#section4 .todoTxt { color: #fff; } 
#section4 img, #section5 img { position: absolute; } 

#section4 #todo1 { width: 470px; left: 300px; top: 130px; } 
#section4 #todo2 { width: 440px; right: 230px; bottom: 0px; } 
#section5 #todo3 { width: 625px; left: 260px; top: 70px; } 
#section5 #todo4 { width: 480px; right: 290px; bottom: 20px; } 

/* ------------------- section6 todo list --------------------- */
#section6 { background: url(../source/section6_BG.svg) center no-repeat; background-size: cover; flex-direction: column; } 
#section6 #todoTitle { position: absolute; top: 14%;}

#section6 .container { position: relative; height: 100vh; width: 100vw;}
#section6 .container #todoLeft { position: absolute; top: 37%; left: 24.5%; width: 345px; height: 280px; overflow-y: scroll; margin-right: 80px; } 
#section6 #todoLeft::-webkit-scrollbar { background-color: transparent; width: 9px; } 
#section6 #todoLeft::-webkit-scrollbar-track { background-color: transparent; } 
#section6 #todoLeft::-webkit-scrollbar-thumb { background-color: rgba(0, 31, 63, 0.575); border-radius: 16px; border: 4px solid transparent; } 

#todoLeft #todoList li { background-color: #fff; border-radius: 28px; list-style-type: none; font-weight: 400; padding: 10px; margin: 10px; display: flex; justify-content: space-between; } 
#todoLeft #todoList label { width: 80%; margin-top: 5px; } 

#todoLeft #todoList li .btn-success::before { content: url(../source/check.svg); } 
#todoLeft #todoList li .btn-danger::before { content: url(../source/x.svg); } 
#todoLeft #todoList li .btn-success { opacity: .6; padding: 1px 3px; border: 2px solid #00203F; background-color: #00203F; border-radius: 20px; transition: all .3s; } 
#todoLeft #todoList li .btn-danger { opacity: .6; border: 2px solid #00203F; background-color: #00203F; border-radius: 20px; transition: all .3s; } 
#todoLeft #todoList li .btn-success:hover,
#todoLeft #todoList li .btn-danger:hover { opacity: 1; }
.uncompleted label { color: rgba(33, 43, 54, 0.643); font-weight: 400; text-decoration: line-through; } 
#todoList .btn { margin-left: 10px; }

#section6 .container .form-group { position: absolute; top: 36%; right: 24%; margin-bottom: 70px; } 
#section6 .container .form-group label { font-weight: bold; margin-bottom: 50px; font-size: 18px; display: block; } 
#section6 .container .form-group #itemInput { width: 300px; height: 110px; padding: 10px; margin-left: 10px; font-family: Pretendard; font-size: 16px; font-weight: 400; border-radius: 18px; border: 1px solid #264361; } 
#section6 .container #addButton, #clearButton { margin: 35px 10px; } 
#section6 .form-group .btn { min-width: 100px; height: 40px; font-family: Pretendard; font-size: 12px; color: #fff; font-weight: 500; cursor: pointer; transition: all 0.3s ease; position: relative; display: inline-block; outline: none; border-radius: 20px; border: 2px solid #00203F; background: #00203F; } 
#section6 .form-group .btn:hover { background: none; font-weight: 600; color: #00203F; } 

/* ------------------- section7, 8, 9 ----------------------- */
#section7 { flex-direction: column; } 
#section7 .commuInfo { margin-top: 50px; } 
#section7 #community { width: 1000px; margin-top: 20px; } 

#section8 h2 { margin-top: 80px; } 
#section8 #point { width: 750px; margin-top: 50px; } 

#section9 { background: url(../source/section9.svg) center center no-repeat; background-size: cover;} 

/* -------------- footer ------------------ */
#scrollTop { border: 1.5px solid #00203F; align-content: center; width: 40px; height: 40px; border-radius: 50px; text-align: center; font-size: 13px; bottom: 40px; right: 50px; position: fixed; z-index: 3; cursor: pointer; } 
#scrollTop:hover { transition: 0.4s; color: #fff; background-color: #00203F; } 
#scrollTop::before { content: "\2303"; position: absolute; width: 50px; top: 5px; left: -5px; color: #00203F; font-size: 15px; transition: .4s; } 
#scrollTop:hover:before { color: #fff; } 
#scrollTop a:active { color: #00203F; } 
#scrollTop .topTxt { display: block; margin-top: 17px; font-size: 10px; } 

#footerWrap { text-align: left; } 
#footerWrap .footer { height: 200px; width: 1200px; padding: 30px; font-size: 14px; } 
#footerWrap .footer::before { content: url(../source/BI_light.svg); margin-left: -5px;} 
#footerWrap .footer #sns li { display: inline; float: right; margin: 0 10px; } 
#footerWrap .footer #sns li img { width: 35px; transition: all .3s; } 
#footerWrap .footer #sns li img:hover { opacity: .6; }
#footerWrap .footer #footerInfo { display: flex; justify-content: flex-start; margin-top: 5px; } 
#footerWrap .footer #footerInfo dl { margin: 10px 25px 20px 0; } 
#footerWrap .footer #footerInfo dl dt { margin-bottom: 10px; font-weight: bold; } 
#footerWrap .footer #footerInfo dl dd { margin: 5px 0;}
#footerWrap .footer #footerInfo dl dd a { color: #00203F; } 
#footerWrap .footer #copyright { margin-top: 25px; font-size: 12px; letter-spacing: 1px; } 

@keyframes fade-in-top {0% { -webkit-transform: translateY(-50px); transform: translateY(-50px); opacity: 0; } 
100% { -webkit-transform: translateY(0); transform: translateY(0); opacity: 1; } 
 }
/* -------------- responsive --------------- */
@media screen and (min-width: 768px) { body { background-color: #fff; } 
 }

@media screen and (min-width: 1024px) { body { background-color: #fff; } 

.desktop { display: block; } 
nav h1 { float: left; } 
nav #gnb { position: static; width: auto; height: 50px; line-height: 50px; text-align: right; padding: 0; } 
nav #gnb li { display: inline-block; margin: 0 20px; padding: 0; } 
.menu-trigger { /* margin-top: -20px; */
display: none; } 
footer { padding: 50px 0; } 
 }

@media screen and (min-width: 1440px) { body { background-color: #fff; } 
 }